.search-products {
  --list-button-color--base: rgba(38, 38, 56, 0.85);

  & .list-btn-color--base {
    background-color: var(--list-button-color--base);
  }

  & .ui-controls {
    display: flex;
  }
}

@media screen and (max-width: 320px) {
  .search-products {
    & .ui-controls {
      flex-direction: column;
      margin: 20px 0px;
    }
  }
}
