.restaurant-item {
  & .card-category-title {
    margin-bottom: 10px;
  }

  & figure.restaurant-logo {
    background: white;
    border-radius: 28px;
    max-width: 100%;
    box-shadow: 0px 1px 3px 0px #9e9ea333;
    top: -50px;
  }

  & p.restaurant-info {
    & span + span {
      margin: 0px 20px;
    }
  }

  & .info-icon {
    width: 20px;
    height: auto;
  }
}
