.restaurant-detail-page {
  --box-shadow: 0px 1px 3px 0px #9e9ea333;

  & .card-category-title {
    margin-bottom: 10px;
  }

  & .buttons {
    & button {
      background: rgba(38, 38, 56, 0.8);
      border: none;
    }
  }

  & figure.restaurant-logo {
    background: white;
    border-radius: 28px;
    width: 100%;
    max-width: 100%;
    box-shadow: var(--box-shadow);
    top: -80px;
  }

  & p.restaurant-info {
    & span + span {
      margin: 0px 10px;
    }
  }

  & .info-icon {
    width: 20px;
    height: auto;
  }
}

@media screen and (max-width: 320px) {
  .restaurant-detail-page {
    & p.restaurant-info {
      & span + span {
        margin: 0px;
      }
    }

    & figure.restaurant-logo {
      height: 75%;
      top: -60px;
    }
  }
}
